@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(209, 205, 205);
}

::-webkit-scrollbar-thumb{
    background-color: burlywood;
    border-radius: 10px;
}